<section
    class="container relative mt-[283px] tablet:mt-[400px] tablet:h-[700px] tablet:flex tablet:flex-col tablet:items-center"
  >
    <img
      src="/assets/images/image-founder.webp"
      class="w-full max-w-[480px]"
      alt=""
    />
    <article
      class="text-white bg-dark-purple max-w-[730px] mobile:max-w-[360px] tablet:w-full absolute right-[1.7%] tablet:left-[50%] tablet:translate-x-[-50%] tablet:text-center bottom-[-21%] tablet:bottom-[0%] py-[55px] px-[64px] tablet:px-[18px] min-h-[410px]"
    >
      <h1 class="font-fraunces text-xl tracking-[-2.8px] pb-[25px]">
        Be the first to test
      </h1>
      <p class="text-base leading-[32px] mb-[48px]">
        Hi, I'm Louis Graham, the founder of the company. Book a demo call with
        me to become a beta tester for our app and kickstart your company. Apply
        for access below and I’ll be in touch to schedule a call.
      </p>
      <a href="#" class="button">Apply for access</a>
    </article>
  </section>