<main
  class="text-white pt-[55px] tablet:pt-[70px] before:absolute before:w-full before:h-[975px] before:top-0 before:left-0 before:bg-dark-purple before:z-[0] before:[clip-path:ellipse(100%_100%_at_center_-25%)] mobile:before:[clip-path:ellipse(120%_100%_at_center_-25%)] mobile:before:h-[750px]"
>
  <div
    class="relative container flex flex-col items-center h-[650px] mobile:h-[450px]"
  >
    <h1
      class="font-fraunces text-2xl max-w-[600px] text-center tracking-[-1px] leading-[79px] tablet:leading-none"
    >
      Data <span class="inline-block border-b-2 border-cyan">tailored</span>
       to your needs.
    </h1>
    <a href="#" class="button">Learn More</a>
    <img
      src="/assets/images/image-hero.webp"
      alt="phone image"
      class="absolute w-full max-w-[760px] bottom-[-15%] mobile:bottom-[-5%]"
    />
  </div>
</main>
